@font-face {
  font-family: "Brawler Regular";
  src: url('../fonts/Brawler-Regular.ttf');
}
* {
font-family: "Brawler Regular";
}
body 
{
  margin: 0;
    font-family: HelvLight;
    background-color: #f2e6ff;
}


#records {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#records td, #records th {
  border: 1px solid #ddd;
  padding: 20px;
}

#records tr:nth-child(even){background-color: #f2f2f2;}

#records tr:hover {background-color: #ddd;}

#records th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}
    

body {
    font-family: HelvLight;
    
}

#grad{
    background-color: purple; 
    width: 200vh;

}


/*The Navigation section*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: purple;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  

  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }


  /* The tables */
  table, h1 {
    border-collapse: collapse;
    width: 100vh;
    color: white;
}

th, td {
    margin: 15px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid white;
}

